<nav class="fh5co-nav" role="navigation">
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-right">
          <p class="site">www.nationallibrary.bb</p>
          <p class="num">Call: +{{telephone}}</p>
          <ul class="fh5co-social">
            <li>
              <a href="{{facebook_url}}" target="_blank">
                <i class="icon-facebook2"></i>
              </a>
            </li>
            {% if (twitter_url != 'none') %}
            <li>
              <a href="{{twitter_url}}" target="_blank">
                <i class="icon-twitter2"></i>
              </a>
            </li>
            {% endif %}
            <li>
              <a href="{{instagram_url}}" target="_blank">
                <i class="icon-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="fh5co-logo">
            <a href="index.html">
              <img src="{{logo}}" height="50" />
              </a>
          </div>
        </div>
        <div class="col-xs-10 text-right menu-1">
          <ul>
            <li class="active">
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="branches.html">Branches</a>
            </li>

            <li class="has-dropdown">
              <a href="about.html">About</a>
              <ul class="dropdown">
                <li>
                  <a href="about.html">About Us</a>
                </li>
                <li>
                  <a href="staff.html">Our Staff</a>
                </li>
                {# <li>
                  <a href="#">Branding</a>
                </li>
                <li>
                  <a href="#">API</a>
                </li> #}
              </ul>
            </li>
            {# <li>
              <a href="membership.html">Membership</a>
            </li> #}
            <li>
              <a href="events.html">Events</a>
            </li>
            <li>
              <a href="news.html">News</a>
            </li>
            {# <li class="has-dropdown">
              <a href="news.html">News</a>
              <ul class="dropdown">
                <li>
                  <a href="events.html">Events</a>
                </li>
                <li>
                  <a href="promotions.html">Promotions</a>
                </li>
                
              </ul>
            </li> #}
            <li>
              <a href="contact.html">Contact</a>
            </li>
            {# <li class="btn-cta">
              <a href="#">
                <span>Login</span></a>
            </li> #}
            {# <li class="btn-cta">
              <a href="#">
                <span>Create a Course</span></a>
            </li> #}
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>