<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}

  <div id="fh5co-about">
    <div class="container">
      <div class="col-md-6 animate-box">

        <span>Welcome to the National Library Of Barbados</span>

        <h2>Our Mission</h2>
        <p>The mission of the National Library Service is to serve the Barbadian community as a ready source of dynamic information products and services</p>

        <h2>Our History</h2>
        <p>The Public Library Act was passed on the 21st October 1847, and a Board of Trustees was appointed to preserve and manage the library. This Act predates a similar Act in the UK by nearly three years. In October 1849, a collection of books was made accessible to the public. This collection consisted of books of the Literary Society (founded in 1777), the Library Association of Barbados (founded in 1853) and gifts from Friends of the Library. </p>

      </div>
      <div class="col-md-6">
        <p>In January 1906 a permanent home for the island's Free Public Library was finally opened at Coleridge Street, Bridgetown. Sir Frederic Hodgson, Governor of Barbados in 1900, was committed to the idea of an efficient public library service, and he enlisted the aid of American philanthropist, Andrew Carnegie to fulfill his dream. Carnegie donated 4800 pounds on the condition that the Barbados government would ensure that the library was adequately maintained and free to all. Government granted "the old parade ground" as the site. </p>

        <p>The first rural branch library was opened on February 23, 1905 at Speightstown, St. Peter.  Seven other branches were opened in due course. These are located in Eagle Hall, St. Michael, Gall Hill, St. John, Holetown, St. James, Oistins, Christ Church, Six Cross Roads, St. Philip, Valley, St. George and Tamarind Hall, St. Joseph.
Unfortunately, due to age and wear-and-tear, the Carnegie Building closed for renovations in 2006 and the collection was moved to a temporary site in Fairchild Street, Bridgetown, opposite Independence Square. The Library at this new site was opened to the public in December 2008.
</p>
      </div>
    </div>
  </div>

{% endblock %}