<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}
    <div id="fh5co-about">
        <div class="container">
            <div class="col-md-12 animate-box">
                <span>Locations for HeadQuarters and Branches</span>

                <h2>The Main Library ( Bridgetown) Tel: 535-2928</h2>
                <p>The main library is centrally located in Fairchild Street in the heart of the main city of  Bridgetown. This location has become a temporary home since December 2008 when environmental issues forced the closure of the Carnegie Building in Coleridge Street. 
This building also houses the administrative block.  Courteous and welcoming staff,  make for a very relaxing atmosphere.  Services offered include access to EBSCO online database which contains e-books journals, newspapers and  magazines,  lending and reference services, Internet access, computer services, readers’ assistance, lectures, exhibitions and displays, computer classes and photocopying services.  Story hour is held every Saturday morning from 10:00 a.m. to 11:00 a.m.  Our regular hours are Monday to Saturday 9:00 a.m. to 5:00 p.m.
</p>

                <h2>THE VALLEY BRANCH LIBRARY Tel: (246) 535-2941</h2>
                <p>Nestled in the heart of the business hub of St. George is the Valley Branch Library. Cozy, yet spacious, the library offers a healthy environment for study or relaxation. We provide children and adult services with special emphasis on community out-reach. Our branch also has a facility for free computer and Internet access as well as access to EBSCO online database which contains e-books journals, newspapers and  magazines. A photocopying services for a nominal fee is also offered. You are welcome to join us on Mondays and Fridays for story reading and story-telling sessions from 3:15 p.m. to 4:00 p.m. Our regular hours are Monday to Friday 10:30 a.m. to 1:00 p.m. and 2:00 p.m. to 6:00 p.m.  </p>

            </div>
            <div class="col-md-12">
                <h2>THE SIX CROSS ROADS BRANCH LIBRARY Tel: (246) 535-2935</h2>
                <p>The Six Cross Roads Branch Library is strategically situated in St. Philip just off the Six Roads Roundabout which has been renamed the Wynter Crawford Circle .  This library offers a variety of amenities such as access to EBSCO online database which contains e-books journals, newspapers and  magazines,  free Wi-fi and computer use, Internet access and photocopying services. Story hour is held on Fridays from 5:00 p.m to 6:00 p.m. This area is surrounded by a post office, an industrial estate, pharmacies, supermarket, banks, clothing stores, fast food restaurant outlets, polyclinic and a secondary school.  Our regular hours are Monday to Friday 10:30 a.m. to 1:00 p.m. and 2:00 p.m. to 6:00 p.m.</p>

                <h2>SPEIGHTSTOWN BRANCH LIBRARY Tel: (246) 535-2936</h2>
                <p>
                In the midst of this once thriving trading town in St. Peter can be found the Speightstown Branch Library, one of the eight (8) branches of the National Library Service.  Located on the first floor above the Post Office at the Republic Bank building, it is in close proximity to shopping and food centres.  Courteous and welcoming staff, make for a very relaxing atmosphere.  Services offered at this branch include access to EBSCO online database which contains e-books journals, newspapers and  magazines, lending and reference services, Internet access, free Wi-fi and computer services, readers’ assistance and photocopying services.  Every Saturday morning from 10:00 a.m. to 11:00 a.m. there is the children’s story-hour.   Our regular hours are Monday to Friday 10:30 a.m. to 1:00 p.m. and 2:00 p.m. to 6:00 p.m., and Saturday 9 a.m. to 1:00 p.m.
                </p>

                <h2>TAMARIND HALL BRANCH LIBRARY Tel: (246) 535-2939</h2>
                <p>Tamarind Hall Branch Library is located in the rural parish of St. Joseph on the eastern side of the island. Less than two miles from the picturesque Bathsheba Bay, it is situated in the Eric Holder Jr. Municipal Complex at Blackman. This is a perfect place to study with its quiet and serene setting.
 This is the latest branch to be opened by the National Library Service, and boasts a  computer centre with Internet access.  This library offers access to EBSCO online database which contains e-books journals, newspapers and  magazines, readers’ assistance, exhibitions and displays in addition to its lending, reference and photocopying services.  Saturday morning story readings are held at 10:00 a.m. Our regular hours are Monday to Friday 10:30 a.m. to 1:00 p.m. and 2:00 p.m. to 6:00 p.m., and Saturday 9 a.m. to 1:00 p.m.
</p>

                <h2>OISTINS BRANCH LIBRARY Tel: (246) 535-2933   TEMPORARILY CLOSED</h2>
                <p>The Oistins Branch library is located in Scarborough House in the historic town of Oistins in Christ Church.  Known for its fishing industry and exciting night-life, Oistins is the perfect place for a library serving both visitors and residents alike. One can sit and enjoy the peaceful surroundings while reading a book or magazine, or make full use of our services which include photocopying and free Wi-Fi and Internet service and access to EBSCO online database which contains e-books journals, newspapers and  magazines, children and adult lending services and a weekly story-hour. Our regular hours are Monday to Friday 10:30 a.m. to 1:00 p.m. and 2:00 p.m. to 6:00 p.m., and Saturday 9 a.m. to 1:00 p.m.</p>

                <h2>EAGLE HALL BRANCH LIBRARY Tel: (246) 535-2930</h2>
                <p>Located in the lively suburbs of Eagle Hall, this branch Library has been meeting the educational and recreational needs of the communities of Eagle Hall, Bank Hall, Bush Hall and surrounding districts since October 20th, 1969.
Library services include access to EBSCO online database which contains e-books journals, newspapers and  magazines, lending and reference services for adults and children, reading assistance, free computer and Internet access, and photocopying.  Our regular hours are Monday to Friday 10:00 a.m. to 1:00 p.m. and 2:00 p.m. to 6:00 p.m., and Saturday 9 a.m. to 1:00 p.m.
</p>

                <h2>GALL HILL BRANCH LIBRARY Tel: (246) 535- 2957</h2>
                <p>The Gall Hill Branch Library is nestled in a busy government complex of the Glebe Land, St. John. Approximately 600 yards from the historic St. John Parish Church, this library is located in the heart of a large rural district. Library services include access to EBSCO online database which contains e-books journals, newspapers and  magazines, lending and reference services for adults and children, reading assistance, free computer and Internet access, and photocopying. Enjoy the very cool sea breezes from the Atlantic Ocean. Studying here is always a pleasant experience.  Our regular hours are Monday to Friday 10:30 a.m. to 1:00 p.m. and 2:00 p.m. to 6:00 p.m.</p>

                <h2>HOLETOWN BRANCH LIBRARY Tel: (246) 535-2958</h2>
                <p>The Holetown Branch Library is in St. James. Originally named Jamestown, after its benefactor, King James I of England it is the parish of the first settlement in Barbados. This branch is located in the Holetown Government Complex on the western side of the “Holetown Monument” built to commemorate the first English landing in Barbados in 1625.  Our services include access to EBSCO online database which contains e-books journals, newspapers and  magazines, a Lending section for adults, children, young adults and visitors, as well as photocopying and computer services, free Internet access and a storytelling hour for children on Saturdays from 10:00 a.m. to 11:00 a.m. Our regular hours are Monday to Friday 10:30 a.m. to 1:00 p.m. and 2:00 p.m. to 6:00 p.m. and Saturday 9 a.m. to 1:00 p.m. </p>
            </div>
        </div>
    </div>
{% endblock %}