<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}
    <div id="fh5co-about">
        <div class="container">

            <div class="col-md-12 animate-box">
                <span>Locations for HeadQuarters and Branches</span>

            </div>
            <div class="col-md-12">

                {% for item in branches %}

                    <h2>{{item.title}}
                        ({{item.location}}) Tel:
                        {{item.telephone}}</h2>
                    <p>{{item.description}}
                    </p>

                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}