<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}
    <div id="fh5co-about">
        <div class="container">

            <div class="col-md-12 animate-box">
                {# <span>Locations for HeadQuarters and Branches</span> #}

            </div>
            <div class="col-md-12">

                {% for item in branches %}

                <div class="row mt-3">

                    <div class="col-md-3">
                        <img src="{{item.photo}}" width="90%"/>
                    </div>
                    <div class="col-md-9">
                        <h2>{{item.title}}</h2>
                        <h4>({{item.location}}) Tel:{{item.telephone}}</h4>
                        <p>{{item.description}}</p>
                    </div>

                </div>       
                       
                    
                    
                    

                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}