<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}
    <div id="fh5co-blog">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Events</h2>
                    <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                </div>
            </div>
            <div class="row row-padded-mb">
                {% for item in events %}
                    <div class="col-md-4 animate-box">
                        <div class="fh5co-event">
                            <div class="date text-center">
                                <span>{{item.start}}</span></div>
                            <h3>
                                <a href="#">{{item.title}}</a>
                            </h3>
                            <p>{{item.description}}</p>
                            <p>
                                <a href="#">Read More</a>
                            </p>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <div class="row">
                {% for item in events %}
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-img-holder" style="background-image: url(assets/images/project-1.jpg);"></a>
                            <div class="blog-text">
                                <h3>
                                    <a href="#">{{item.title}}</a>
                                </h3>
                                <span class="posted_on">{{item.start}}</span>
                                <!-- <span class="comment">
																																<a href="">21<i class="icon-speech-bubble"></i>
																																</a>
																												</span> -->
                                <p>{{item.description}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}