<!DOCTYPE HTML>
<html>
    {% include "partials/header.html" %}
    <body>

        {% set mission = siteinfo[0].mission %}
        {% set telephone = siteinfo[0].telephone %}
        {% set logo = siteinfo[0].logo %}
        {% set facebook_url = siteinfo[0].socialmedia.facebook %}
        {% set twitter_url = siteinfo[0].socialmedia.twitter %}
        {% set instagram_url = siteinfo[0].socialmedia.instagram %}

        <div class="fh5co-loader"></div>

        <div id="page">
            {% include "partials/nav.html" %}

            {% block content %}{% endblock %}

            {% include "partials/footer.html" %}

        </div>

        <div class="gototop js-top">
            <a href="#" class="js-gotop">
                <i class="icon-arrow-up"></i>
            </a>
        </div>

        <!-- jQuery -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- jQuery Easing -->
        <script src="assets/js/jquery.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <!-- Stellar Parallax -->
        <script src="assets/js/jquery.stellar.min.js"></script>
        <!-- Carousel -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Flexslider -->
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <!-- countTo -->
        <script src="assets/js/jquery.countTo.js"></script>
        <!-- Magnific Popup -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/magnific-popup-options.js"></script>
        <!-- Count Down -->
        <script src="assets/js/simplyCountdown.js"></script>
        <!-- Main -->
        <script src="assets/js/main.js"></script>
        <script>
            var d = new Date(new Date().getTime() + 1000 * 120 * 120 * 2000);

            // default example
            simplyCountdown('.simply-countdown-one', {
                year: d.getFullYear(),
                month: d.getMonth() + 1,
                day: d.getDate()
            });

            //jQuery example
            $('#simply-countdown-losange').simplyCountdown({
                year: d.getFullYear(),
                month: d.getMonth() + 1,
                day: d.getDate(),
                enableUtc: false
            });
        </script>
        <script>
            if (window.netlifyIdentity) {
                window
                    .netlifyIdentity
                    .on("init", user => {
                        if (!user) {
                            window
                                .netlifyIdentity
                                .on("login", () => {
                                    document.location.href = "/admin/";
                                });
                        }
                    });
            }
        </script>
    </body>
</html>